<!-- ejs == html 같이 작성 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>목록</title>
    <%- include('tiles/head.ejs') %>
</head>
<body class="grey-bg">
    <!-- include로 상단바 가져오기 ( - = 데이터 표출 차이점은 =는 html escape되서 만들어지고 -는 html이 escape되지 않고 가져옴) -->
    <%- include('tiles/nav.ejs') %>
    <div class="white-bg">
      <div class="input-group me-3"><input type="text" id="searchWord" value="<%=searchWord%>"><a class="btn btn-primary" id="searchBtn">검색</a></div>
      <!-- 서버사이드 랜더링 (클라이언트사이드 렌더링도 있음)-->
      <!-- ejs 반복문 -->
      <div id="listBody">
        <% for(let i=0;i < 글목록.length; i++){ %>
        <div class="list-box">
          <h4>
            <a class="title" href="/detail/<%=글목록[i]._id%>"><%=글목록[i].title%></a>
            <% if(String(글목록[i].user) == String(user._id)) { %>
              <span class="delete" data-id="<%=글목록[i]._id%>">🗑️</span>
            <% } %>
          </h4>
        </div>
        <% } %>
      </div>
      <a class="btn btn-primary" href="/board/write">글쓰기</a>
    </div>
    <ul id="pagination" class="pagination">
      <% let searchUrl = '?searchWord=' + searchWord;
        if(searchWord == null || searchWord == '') {
          searchUrl = ''; 
        }%>
      <% if(pageInfo.first) { %>
        <li><a href="/list/1<%=searchUrl%>">&#171;</a></li>
      <% } %>
      <% if(pageInfo.prev) { %>
        <li><a href="/list/<%=pageInfo.prev%><%=searchUrl%>">&lt;</a></li>
      <% } %>
      <% for(let i=pageInfo.startPage;i<=pageInfo.endPage;i++){ %>
        <% if(i == pageInfo.currentPage) { %>
          <li><a class="active"><%=i%></a></li>
        <% }else{ %>
          <li><a href="/list/<%=i %><%=searchUrl%>"><%=i%></a></li>
        <% } %>
      <% } %>
      <% if(pageInfo.next) { %>
        <li><a href="/list/<%=pageInfo.next%><%=searchUrl%>">&gt;</a></li>
      <% } %>
      <% if(pageInfo.last) { %>
        <li><a href="/list/<%=pageInfo.last%><%=searchUrl%>">&#187;</a></li>
      <% } %>
    </ul>
  </body>
</html>
<!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
<script>
  /* // axios 예시
    axios.get('/URL',{
      params:{
        ID : 12345
      }
    }).then((response) =>{
      console.log(r)
    }).catch((e)=>{
      console.log("Error:", e.response.data)
      console.log("Error:", e.response.status)
      console.log("Error:", e.response.headers)
    })

    axios({
      method:'GET',
      url:'/URL',
      data: {
        data1 : 'data1',
        data2 : 'data2'
      }
      //,responseType: 'stream' //이미지 가져오기
    }).then((response) => { //then 한번만 써도 됨
      console.log(r)
      //response.data.pipe(fs.createWriteStream('a.jpg'))
    }).catch((e) = > {
      console.log("Error:", e.response.data)
      console.log("Error:", e.response.status)
      console.log("Error:", e.response.headers)
      // 에러시 실행 코드
    });
  */
  /** 
   * 데이터 목록 요청
  */
  let getListData = function(page,searchWord){
    fetch('/listData?page='+page+'&searchWord='+searchWord,{
      method:"GET",
      headers:{"Content-Type":"application/json"}
    }).then((response)=>response.json())
    .then((data)=>{
      if(data.isSucceed){
        // 데이터 처리
        let initText = '';
        const listBody = document.getElementById("listBody");
        const pageBody = document.getElementById("pagination");
        let result = data.result;
        for(idx in result){
          initText = initText + '<div class="list-box">\n';
          initText = initText + ' <h4>\n';
          initText = initText + '   <a class="title" href="/detail/'+result[idx]._id+'">'+result[idx].title+'</a>\n';
          if(result[idx].del){
            initText = initText + '   <span class="delete">🗑️</span>\n';
          } 
          initText = initText + ' </h4>\n';
          initText = initText + '</div>\n';
        }
        // 페이징 처리
        let pageText = '';
        let pageInfo = data.pageInfo;
        let searchUrl = '';
        if(searchWord != null && searchWord != "") searchUrl='?searchWord='+searchWord;
        if(pageInfo.first){
          pageText = pageText + '<li><a href="/list/1'+searchUrl+'">&#171;</a></li>\n';
        }
        if(pageInfo.prev){
          pageText = pageText + '<li><a href="/list/'+(pageInfo.prev)+searchUrl+'">&lt;</a></li>\n';
        }
        for(let i=pageInfo.startPage;i<=pageInfo.endPage;i++){
          if(i == pageInfo.currentPage){
            pageText = pageText + '<li><a class="active">'+i+'</a></li>\n';
          }else{
            pageText = pageText + '<li><a href="/list/'+i+searchUrl+'">'+i+'</a></li>\n';
          }
        }
        if(pageInfo.next){
          pageText = pageText + '<li><a href="/list/'+(pageInfo.next)+searchUrl+'">&lt;</a></li>\n';
        }
        if(pageInfo.last){
          pageText = pageText + '<li><a href="/list/'+pageInfo.last+searchUrl+'">&#187;</a></li>\n';
        }

        listBody.textContent = '';
        listBody.innerHTML = initText;
        pageBody.textContent = '';
        pageBody.innerHTML = pageText;
      }else{
        console.log(data.msg);
      }
    }).catch(e =>{
      console.log("error :"+ e);
    })
  }

  // 삭제
  document.querySelectorAll('.delete').forEach((col) =>{
      col.addEventListener('click', (event) =>{
        let id = event.target.dataset.id;
        fetch('/board/delete',{
          method:"DELETE",
          headers:{"Content-Type":"application/json"},
          body:JSON.stringify({id:id})
        })
        // .then((response) => response.text())
        // .then((text) => {console.log(text)})
        .then((response)=>response.json())
        .then((data)=>{
          if(data.isSucceed){
            console.log(data.msg)
            // event.target.parentElement.parentElement.style.display = 'none'
            let searchWord = document.getElementById("searchWord").value;
            let page = document.getElementById("pagination").getElementsByClassName("active")[0].textContent
            getListData(page,searchWord);
          }else{
            console.log(data.msg)
          }
        })
        .catch((e)=>{
          console.log("error :"+ e)
        });
      });
  });

  // 검색
  document.getElementById("searchBtn").addEventListener('click',(event)=>{
    let page = document.getElementById("pagination").getElementsByClassName("active")[0].textContent
    let searchWord = document.getElementById("searchWord").value;
    //getListData(1,searchWord);
    location.href = '/list/'+page+'?searchWord='+searchWord;
  })
</script>
