<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수정</title>
    <%- include('navigation/head.ejs') %>
</head>
<body class="grey-bg">
    <!-- include로 상단바 가져오기 ( - = 데이터 표출 차이점은 =는 html escape되서 만들어지고 -는 html이 escape되지 않고 가져옴) -->
    <%- include('navigation/nav.ejs') %>
    <div class="white-bg">
        <form id="modifyForm" class="form-box" method="POST" action="/board/edit?_method=PUT">
            <input type="hidden" name="id" value="<%= result._id %>">
            <div class="input-group"><span>제목 : </span><input class="form-control" type="text" name="title" value="<%= result.title %>"></div>
            <div class="input-group"><span>내용 : </span><input class="form-control" type="text" name="content" value="<%= result.content %>"></div>
            <div class="input-group"><span>이미지 : </span><input type="file" accept="image/*" name="img1"></div>
            <button class="btn" type="submit">전송</button>
            <a href="/detail/<%= result._id %>" class="btn btn-primary">수정취소</a>
        </form>
    </div>
</body>
</html>